<!DOCTYPE html>
<html lang="en" style="background-color: rgb(238, 207, 164);">

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Offside&family=Playpen+Sans:wght@100..800&display=swap"rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        <title>Who Would Read This?, I would read this!</title>
        <!--windtail-->
        <script src="https://cdn.tailwindcss.com"></script>
        <!--HTMLX-->
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    </head>
    
    <header>
        <h1 class="text-3xl font-bold underline text-center"> Hverju er verið að leita að... (^v^)/</h1>
        
        <div class="grid grid-cols-1 gap-10 w-full mt-10 ">
            
            <!--Vantar að láta route í hx-get: , gæti þurfa að fikta í hx.target.-->
            <button
                class="bg-green-500 hover:bg-green-700 text-white text-2xl font-bold py-10 px-9 rounded-full shadow-2xl"
                hx-get="/leiksvaedi" 
                hx-target="#content"
                gx-swap="innerHTML">
                Leiksvæði
            </button>
            <!--Vantar að láta route í hx-get: , gæti þurfa að fikta í hx.target.-->
            <button
                class="bg-red-500 hover:bg-red-700 text-white text-2xl font-bold py-10 px-9 rounded-full shadow-2xl"
                hx-get="/veitingar"
                hx-target="#content"
                gx-swap="innerHTML">
                veitingastaðir
            </button>
        </div>
    </header>

    <body>    
        <div id="root">
            <div id="content"></div>
        </div>
    </body>
    <footer class="grid-cols-1 ml-5" >
        <h6>Verkefni eftir : Diljá, Jón & Örn.</h6>
    </footer>
</html>