<div class="modal" id="modal">    
       <h2>
        Leiksvæði og veitingastaðir
       </h2>
       <h3>Findu það sem þig vantar..</h3>
       <h3>Núna!</h3><br>
       <p>Þessi síða hefur engann áhuga á þínum gögnum við söfnum engi og þurfum enginn gögn eða upplæysingar frá þér.
        Stillingar sem þú velur á síðunni okkar vistast einungis hjá þér, við hvorki sjáum né vitum eitthvað um þig.
        eina sem þú gerir á okkar síðu
        sem hefur áhrif er nafnlaus tilkynning um vandamál á völdum stað.<p>
        
        <p>Fyrir fram þakkir ♡ </p>

        <button class="button button1 close-button">OK</button>
</div>